* {
    margin: 0;
    padding: 0;
}

button, textarea{
    border: none;
    padding: 15px 32px;
    margin: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

canvas, #container{
    position:relative;
    display: block;
    width: 100%;

    background-color: #333;
}

#container{
    z-index: 99;
    position: absolute;
    bottom: 0;

    width: 100%;
    height:200px;

    background-color: rgba(255,255,255,0.2);
}
#chat{
    position: absolute;
    height: 200px;
    float: left;
    overflow-y: scroll;
    overflow-x: wrap;
    background-color: black;
}
#chat p{
    position: relative;
    color: white;
}

#chatbox{
    position: absolute;
    bottom: 5px;
    width: 80%;
    text-align: left;
    padding: 0;
}

#chatbutton{
    position:absolute;
    bottom: 5px;
    right: 5px;
}